<header>Angular user task</header>
<div class="wrapper">
  <form class="form" name="form">
    <p>Login</p>
    <input name="login" type="text" placeholder="Enter login" class="login" [(ngModel)]="login">
    <p>Password</p>
    <input name="password" type="password" placeholder="Enter password" [(ngModel)]="password">
    <p>Email address</p>
    <input name="email" type="email" placeholder="Email address" [(ngModel)]="email">
    <br>

    <button *ngIf="!editStatus" (click)="addUser()" class="addUserB">Add user</button>
    <button *ngIf="editStatus" (click)="saveEditUser()" class="editUserB">Edit user</button>

  </form>

  <div class="list">
    <table class="table">
      <tr>
        <td>#</td>
        <td>Login</td>
        <td>Password</td>
        <td>Email</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>

      <div class="usersData" *ngFor="let user of userData; index as i">
        <span class="index" [(ngModel)]="index">{{ i + 1 }} </span>
        <span class="login">{{ user.login }}</span>
        <span class="password">{{ user.password }}</span>
        <span class="email">{{ user.email }}</span>
        <td><button (click)="editName(i)" class="edit">Edit</button></td>
        <td>
          <ng-container *ngIf="editStatus; else elseTemplate">
            <button (click)="deleteName(i)" [disabled]="editStatus"
              class="deleteDisabled">Delete</button>
          </ng-container>
          <ng-template #elseTemplate>
            <button (click)="deleteName(i)" [disabled]="editStatus"
            class="delete">Delete</button>
          </ng-template>
        </td>
      </div>
    </table>
  </div>
</div>